.section{ padding: 2.4rem 1.2rem; margin-left: auto; margin-right: auto; margin-bottom: 10px; background: var(--white); border-radius: 12px; box-shadow: var(--shadow); width: 90%; max-width: var(--container); }

.page-header{
  padding-top:120px;
  padding-bottom:40px;
  text-align:center;
}
.page-title{
  font-size:42px;
  letter-spacing:2px;
}
